@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="t">Наши Контакты:</h1>
<div class="contact">

    <div>
        <h2>Клюев Борис Николаевич </h2>
        <img class="photo" src="/images/director.jpg">
        <p>Должность: Директор</p>
        <p>Номер: 8-952-123-32-33</p>
        <p>Почта: lalka@mail.ru</p>
    </div>
</div>

<div class="contact">

    <div>
        <h2>Веснецов Александр Петрович</h2>
        <img class="photo" src="/images/zamdir.jpg">
        <p>Должность: Зам Директора</p>
        <p>Номер: 8-912-433-32-33</p>
        <p>Почта: bilodelo@mail.ru</p>
    </div>
</div>

<div class="contact">
    <div>
        <h2>Курагина Надежда Констонтиновна</h2>
        <img class="photo" src="/images/buh.jpg">
        <p>Должность: Главный Бухгалтер</p>
        <p>Номер: 8-232-413-53-32</p>
        <p>Почта: dengidengi@mail.ru</p>
    </div>
</div>
<div class="contact">
    <div>
        <h2>Сарахин Иван Степанович</h2>
        <img class="photo" src="/images/mehan.jpg">
        <p>Должность: Главный Механик</p>
        <p>Номер: 8-232-413-53-32</p>
        <p>Почта: dengidengi@mail.ru</p>
    </div>
</div>
<div class="contact">
    <div>
        <h2>Красин Артём Евгеньевич</h2>
        <img class="photo" src="/images/inji.jpg">
        <p>Должность: Главный Инжинер</p>
        <p>Номер: 8-232-413-53-32</p>
        <p>Почта: dengidengi@mail.ru</p>
    </div>
</div>
<div class="contact">
    <div>
        <h2>Пражина Екатерина Алексеевна</h2>
        <img class="photo" src="/images/gorn.jpg">
        <p>Должность: Главный Супервайзер</p>
        <p>Номер: 8-232-413-53-32</p>
        <p>Почта: dengidengi@mail.ru</p>
    </div>
</div>



