@model BlazorApp2.Models.Posetitel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление посетителя</h1>

<h4>Посетитель</h4>
<hr />
<div class="row n">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Фамилия" class="control-label"></label>
                <input asp-for="Фамилия" class="form-control" />
                <span asp-validation-for="Фамилия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Имя" class="control-label"></label>
                <input asp-for="Имя" class="form-control" />
                <span asp-validation-for="Имя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Отчество" class="control-label"></label>
                <input asp-for="Отчество" class="form-control" />
                <span asp-validation-for="Отчество" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Возраст" class="control-label"></label>
                <input asp-for="Возраст" class="form-control" />
                <span asp-validation-for="Возраст" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Размер_багажа" class="control-label"></label>
                <input asp-for="Размер_багажа" class="form-control" />
                <span asp-validation-for="Размер_багажа" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Судимость" /> @Html.DisplayNameFor(model => model.Судимость)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Комната" class="control-label"></label>
                <input asp-for="Комната" class="form-control" />
                <span asp-validation-for="Комната" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Питомец" /> @Html.DisplayNameFor(model => model.Питомец)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Мини_бар" /> @Html.DisplayNameFor(model => model.Мини_бар)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Фото" class="control-label"></label>
                <input asp-for="Фото" type="file"class="form-control" />
                <span asp-validation-for="Фото" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark n"   />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-dark n" asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
